function DrawPieces.drawpieces 3
    push constant 3
    pop local 1
    push constant 0
    pop local 2
    push local 1
    push constant 1024
    call Math.multiply 2
    push constant 2
    add
    push local 2
    call Math.multiply 2
    pop local 0
    push local 0
    call GamePieces.draw_black_rook 1
    pop temp 0
    push constant 0
    return