function GamePieces.draw_white_pawn 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 2017
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 4081
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 4081
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 4081
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 4081
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 4081
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 2017
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 961
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 961
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 961
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 961
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 4081
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function GamePieces.draw_black_pawn 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 4080
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 4080
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 4080
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 4080
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 4080
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 4080
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function GamePieces.draw_black_rook 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 6552
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 6552
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function GamePieces.draw_white_rook 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 6553
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 6553
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 2017
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 2017
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 2017
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 2017
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 2017
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 2017
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return